<div style="margin-top: 32px" class="ui top  segment">
    <h1>Project Hybrid</h1>
</div>

<div class="ui four attached steps">
    <div class="{% if request.get_full_path == "/hybridapp/home/" %}active{% endif %} step">
        <i class="sign in icon"></i>
        <div class="content">
            <div class="title">Login</div>
            <div class="description">Login with an existing Freelancer account</div>
        </div>
    </div>
    <div class="{% if request.get_full_path == "/hybridapp/new/" %}active{% endif %} step">
        <i class="send outline icon"></i>
        <div class="content">
            <div class="title">Post Project</div>
            <div class="description">Enter the details of your project</div>
        </div>
    </div>
    <div class="{% if request.get_full_path == "/hybridapp/success/" %}active{% endif %} step">
        <i class="info icon"></i>
        <div class="content">
            <div class="title">Invite Freelancers</div>
            <div class="description">Submit to the Freelancer site</div>
        </div>
    </div>
    <div class="step">
        <i class="checkmark icon"></i>
        <div class="content">
            <div class="title">Choose Freelancer</div>
            <div class="description">Select your tutor</div>
        </div>
    </div>
</div>