{% extends 'hybridapp/layout.html' %}
{% block navbar %}
{% include "hybridapp/includes/_navbar.html" %}
{% endblock %}
{% load humanize %}
{% block content %}
<h2>Bids</h2>
<div class="ui cards">
    {% for bid in bids %}
    <div class="ui raised card">
        <div class="content">
            <div class="header">A bid</div>
            <div class="meta">
                <span class="right floated time">{{ bid.submitdate|naturaltime }}</span>
                <span class="amount">${{ bid.amount }}</span>
            </div>
            <div class="description">
                <p>{{ bid.description }}</p>
            </div>
        </div>
        <div class="extra content">
            <a id="errors">
                <i class="warning sign icon"></i>
                X Errors in original bid
            </a>
        </div>
        <a class="ui green bottom attached labeled icon button" href="#"><i class="checkmark icon"></i> Accept bid</a>
    </div>
    {% empty %}
    <p>There are no bids for this project.</p>
    {% endfor %}
</div>
<div class="ui modal">
    <div class="header">Modal</div>
    <div class="content">
        <p>This is content</p>
    </div>
    <div class="actions">
        <div class="ui deny button labeled icon button">
            Cancel
            <i class="cancel icon"></i>
        </div>
        <div class="ui positive labeled icon button">
            Request Access
            <i class="send outline icon"></i>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    $(".ui.modal").modal("attach events", "#errors", "show");
</script>
{% endblock %}