{% extends 'hybridapp/layout.html' %}
{% block navbar %}
{% include "hybridapp/includes/_navbar.html" %}
{% endblock %}
{% load humanize %}
{% block content %}
<h2>Bids</h2>
<div class="ui cards">
    {% for bid in bids %}
    <div class="ui raised fluid card">
        <div class="content">
            <div class="header">A bid</div>
            <div class="meta">
                <span class="right floated time">{{ bid.submitdate|naturaltime }}</span>
                <span class="amount">${{ bid.amount }}</span>
            </div>
            <div class="description-fixed">
                <p>{{ bid.fixed }}</p>
            </div>
            <div class="ui segment description-orginal">
                <h3>Original Bid</h3>
                <p>{{ bid.description }}</p>
            </div>
        </div>
        <div class="extra content">
            <span class="errors">
                <i class="warning sign icon"></i>
                {{ bid.num_errors }} Error{{  bid.num_errors|pluralize }} in original bid
            </span>
            <span class="right floated num-errors">
                <i class="line chart icon"></i>
                Quality: {{ bid.quality_score|floatformat }}%
            </span>
        </div>
        <a class="ui green bottom attached labeled icon button" href="#"><i class="checkmark icon"></i> Accept bid</a>
    </div>
    {% empty %}
    <p>There are no bids for this project.</p>
    {% endfor %}
</div>
{% endblock %}
